In [82]:
# neccessary imports
import pandas as pd
import numpy as np

In [83]:
#data2 = pd.read_csv(r"C:\Users\Anshdeep\OneDrive\Desktop\Ineuron\Full stack data science course\Python projects\fraudDetection\Training_FileFromDB\InputFile.csv")
data2 = pd.read_csv(r"C:\Users\Anshdeep\OneDrive\Desktop\Ineuron\Full stack data science course\Python projects\fraudDetection\models_for_missing_values\data_to_fill_missing.csv")

In [84]:
data2

,Unnamed: 0,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,...,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim,fraud_reported
0,0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,...,5,1,YES,1,2,YES,6510,13020,52080,Y
1,1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,...,8,1,NaN,0,0,NaN,780,780,3510,Y
2,2,134,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,own-child,...,7,3,NO,2,3,NO,7700,3850,23100,N
3,3,256,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,unmarried,...,5,1,NaN,1,2,NO,6340,6340,50720,Y
4,4,228,500/1000,1000,1583.91,6000000,MALE,Associate,sales,unmarried,...,20,1,NO,0,1,NO,1300,650,4550,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1345,265,250/500,1000,1454.43,0,FEMALE,MD,protective-serv,husband,...,17,3,NO,2,3,NaN,6890,0,48230,N
1346,1346,163,100/300,500,1240.47,0,FEMALE,Associate,other-service,husband,...,11,3,YES,1,1,NaN,0,14020,63090,N
1347,1347,355,500/1000,2000,1273.70,4000000,MALE,College,other-service,husband,...,19,3,NO,2,1,NO,6280,6280,50240,Y
1348,1348,175,500/1000,1000,1123.87,8000000,FEMALE,PhD,protective-serv,other-relative,...,5,1,NaN,2,0,YES,810,810,5670,N
1349,1349,192,100/300,1000,1245.89,0,FEMALE,Masters,exec-managerial,wife,...,19,1,NO,0,0,NaN,15320,7660,53620,N

In [85]:
#cols_to_drop=['policy_number','policy_bind_date','policy_state','insured_zip','incident_location','incident_date','incident_state','incident_city','insured_hobbies','auto_make','auto_model','auto_year']

In [86]:
#data2=data2.replace('?',np.nan)

In [87]:
#data2.drop(columns=cols_to_drop,inplace=True)

In [88]:
data2.isna().sum()

Unnamed: 0                       0
months_as_customer               0
policy_csl                       0
policy_deductable                0
policy_annual_premium            0
umbrella_limit                   0
insured_sex                      0
insured_education_level          0
insured_occupation               0
insured_relationship             0
capital-gains                    0
capital-loss                     0
incident_type                    0
collision_type                 189
incident_severity                0
authorities_contacted            0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                351
bodily_injuries                  0
witnesses                        0
police_report_available        486
injury_claim                     0
property_claim                   0
vehicle_claim                    0
fraud_reported                   0
dtype: int64

In [89]:
from feature_engine.imputation import CategoricalImputer

In [90]:
imputer = CategoricalImputer(imputation_method = 'frequent')

In [91]:
data2['collision_type']

0        Side Collision
1                   NaN
2        Rear Collision
3       Front Collision
4                   NaN
             ...
1345     Rear Collision
1346     Rear Collision
1347    Front Collision
1348                NaN
1349     Rear Collision
Name: collision_type, Length: 1350, dtype: object

In [92]:
data2['property_damage']

0       YES
1       NaN
2        NO
3       NaN
4        NO
       ...
1345     NO
1346    YES
1347     NO
1348    NaN
1349     NO
Name: property_damage, Length: 1350, dtype: object

In [93]:
data2['police_report_available']

0       YES
1       NaN
2        NO
3        NO
4        NO
       ...
1345    NaN
1346    NaN
1347     NO
1348    YES
1349    NaN
Name: police_report_available, Length: 1350, dtype: object

In [94]:
data2['collision_type']=imputer.fit_transform(data2[['collision_type']])
data2['property_damage']=imputer.fit_transform(data2[['property_damage']])

In [95]:
data2['collision_type'].value_counts()

Rear Collision     675
Front Collision    351
Side Collision     324
Name: collision_type, dtype: int64

In [96]:
data2['police_report_available'].value_counts()

YES    432
NO     432
Name: police_report_available, dtype: int64

In [97]:
def check_same_elements_list(data,column_name):
    series = data[column_name].value_counts()
    l=[]
    for i in series:
        l.append(i)
    result = all(element == l[0] for element in l)
    return result

In [98]:
check_same_elements_list(data2,'police_report_available') #MEans that this column contains equal no. of categories

True

In [99]:
check_same_elements_list(data2,'collision_type') #No. of categories not equal

False

In [100]:
check_same_elements_list(data2,'property_damage')

False

In [101]:
data2['police_report_available']=imputer.fit_transform(data2[['police_report_available']])

ValueError: The variable police_report_available contains multiple frequent categories.

In [102]:
data2.head()

,Unnamed: 0,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,...,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim,fraud_reported
0,0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,...,5,1,YES,1,2,YES,6510,13020,52080,Y
1,1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,...,8,1,NO,0,0,NaN,780,780,3510,Y
2,2,134,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,own-child,...,7,3,NO,2,3,NO,7700,3850,23100,N
3,3,256,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,unmarried,...,5,1,NO,1,2,NO,6340,6340,50720,Y
4,4,228,500/1000,1000,1583.91,6000000,MALE,Associate,sales,unmarried,...,20,1,NO,0,1,NO,1300,650,4550,N

In [103]:
Missing_model_X = data2.drop(['police_report_available'],axis=1)

In [104]:
# Extracting the categorical columns
cat_df = Missing_model_X.select_dtypes(include=['object']).copy()

In [105]:
cat_df.columns

Index(['policy_csl', 'insured_sex', 'insured_education_level',
       'insured_occupation', 'insured_relationship', 'incident_type',
       'collision_type', 'incident_severity', 'authorities_contacted',
       'property_damage', 'fraud_reported'],
      dtype='object')

In [106]:
# custom mapping for encoding
cat_df['policy_csl'] = cat_df['policy_csl'].map({'100/300' : 1, '250/500' : 2.5 ,'500/1000':5})
cat_df['insured_education_level'] = cat_df['insured_education_level'].map({'JD' : 1, 'High School' : 2,'College':3,'Masters':4,'Associate':5,'MD':6,'PhD':7})
cat_df['incident_severity'] = cat_df['incident_severity'].map({'Trivial Damage' : 1, 'Minor Damage' : 2,'Major Damage':3,'Total Loss':4})
cat_df['insured_sex'] = cat_df['insured_sex'].map({'FEMALE' : 0, 'MALE' : 1})
cat_df['property_damage'] = cat_df['property_damage'].map({'NO' : 0, 'YES' : 1})
#cat_df['police_report_available'] = cat_df['police_report_available'].map({'NO' : 0, 'YES' : 1})
cat_df['fraud_reported'] = cat_df['fraud_reported'].map({'N' : 0, 'Y' : 1})

In [107]:
for col in cat_df.drop(columns=['policy_csl','insured_education_level','incident_severity','insured_sex','property_damage','fraud_reported']).columns:
    cat_df= pd.get_dummies(cat_df, columns=[col], prefix = [col], drop_first=True)

In [108]:
# data fter encoding
cat_df.head()

,policy_csl,insured_sex,insured_education_level,incident_severity,property_damage,fraud_reported,insured_occupation_armed-forces,insured_occupation_craft-repair,insured_occupation_exec-managerial,insured_occupation_farming-fishing,...,insured_relationship_wife,incident_type_Parked Car,incident_type_Single Vehicle Collision,incident_type_Vehicle Theft,collision_type_Rear Collision,collision_type_Side Collision,authorities_contacted_Fire,authorities_contacted_None,authorities_contacted_Other,authorities_contacted_Police
0,2.5,1,6,3,1,1,0,1,0,0,...,0,0,1,0,0,1,0,0,0,1
1,2.5,1,6,2,0,1,0,0,0,0,...,0,0,0,1,1,0,0,0,0,1
2,1.0,0,7,2,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,2.5,0,7,3,0,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,5.0,1,5,2,0,0,0,0,0,0,...,0,0,0,1,1,0,0,1,0,0

In [109]:
num_df = data2.select_dtypes(include=['int64']).copy()

In [110]:
final_df_missing_model=pd.concat([num_df,cat_df], axis=1)

In [111]:
final_df_missing_model

,Unnamed: 0,months_as_customer,policy_deductable,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,...,insured_relationship_wife,incident_type_Parked Car,incident_type_Single Vehicle Collision,incident_type_Vehicle Theft,collision_type_Rear Collision,collision_type_Side Collision,authorities_contacted_Fire,authorities_contacted_None,authorities_contacted_Other,authorities_contacted_Police
0,0,328,1000,0,53300,0,5,1,1,2,...,0,0,1,0,0,1,0,0,0,1
1,1,228,2000,5000000,0,0,8,1,0,0,...,0,0,0,1,1,0,0,0,0,1
2,2,134,2000,5000000,35100,0,7,3,2,3,...,0,0,0,0,1,0,0,0,0,1
3,3,256,2000,6000000,48900,-62400,5,1,1,2,...,0,0,1,0,0,0,0,0,0,1
4,4,228,1000,6000000,66000,-46000,20,1,0,1,...,0,0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1345,265,1000,0,0,0,17,3,2,3,...,0,0,0,0,1,0,0,0,1,0
1346,1346,163,500,0,35300,0,11,3,1,1,...,0,0,0,0,1,0,1,0,0,0
1347,1347,355,2000,4000000,0,0,19,3,2,1,...,0,0,0,0,0,0,1,0,0,0
1348,1348,175,1000,8000000,0,0,5,1,2,0,...,0,0,0,1,1,0,0,0,0,1
1349,1349,192,1000,0,0,-40300,19,1,0,0,...,1,0,1,0,1,0,0,0,1,0

In [112]:
Missing_model_Y = data2['police_report_available']
Missing_model_Y

0       YES
1       NaN
2        NO
3        NO
4        NO
       ...
1345    NaN
1346    NaN
1347     NO
1348    YES
1349    NaN
Name: police_report_available, Length: 1350, dtype: object

In [113]:
Missing_model_Y[49]

nan

In [114]:
type(Missing_model_Y[49])

float

In [115]:
Missing_model_Y.isnull()

0       False
1        True
2       False
3       False
4       False
        ...
1345     True
1346     True
1347    False
1348    False
1349     True
Name: police_report_available, Length: 1350, dtype: bool

In [116]:
Missing_model_Y.shape

(1350,)

In [117]:
train_indices=[]
for i in range(Missing_model_Y.isnull().shape[0]):
    if Missing_model_Y.isnull()[i] == False:
        train_indices.append(i)

In [118]:
train_indices

[0,
 2,
 3,
 4,
 5,
 7,
 8,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 22,
 24,
 25,
 26,
 28,
 29,
 32,
 34,
 35,
 36,
 37,
 39,
 42,
 43,
 47,
 48,
 50,
 52,
 53,
 54,
 55,
 57,
 58,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 72,
 74,
 75,
 76,
 78,
 79,
 82,
 84,
 85,
 86,
 87,
 89,
 92,
 93,
 97,
 98,
 100,
 102,
 103,
 104,
 105,
 107,
 108,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 122,
 124,
 125,
 126,
 128,
 129,
 132,
 134,
 135,
 136,
 137,
 139,
 142,
 143,
 147,
 148,
 150,
 152,
 153,
 154,
 155,
 157,
 158,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 172,
 174,
 175,
 176,
 178,
 179,
 182,
 184,
 185,
 186,
 187,
 189,
 192,
 193,
 197,
 198,
 200,
 202,
 203,
 204,
 205,
 207,
 208,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 222,
 224,
 225,
 226,
 228,
 229,
 232,
 234,
 235,
 236,
 237,
 239,
 242,
 243,
 247,
 248,
 250,
 252,
 253,
 254,
 255,
 257,
 258,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 272,
 274,
 275,
 276,
 278,
 279,
 282,
 284,
 285,
 286,
 287,
 289,
 292,
 293,
 297,
 298,
 300,
 302,
 303,
 304,
 305,
 307,
 308,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 322,
 324,
 325,
 326,
 328,
 329,
 332,
 334,
 335,
 336,
 337,
 339,
 342,
 343,
 347,
 348,
 350,
 352,
 353,
 354,
 355,
 357,
 358,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 372,
 374,
 375,
 376,
 378,
 379,
 382,
 384,
 385,
 386,
 387,
 389,
 392,
 393,
 397,
 398,
 400,
 402,
 403,
 404,
 405,
 407,
 408,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 422,
 424,
 425,
 426,
 428,
 429,
 432,
 434,
 435,
 436,
 437,
 439,
 442,
 443,
 447,
 448,
 450,
 452,
 453,
 454,
 455,
 457,
 458,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 472,
 474,
 475,
 476,
 478,
 479,
 482,
 484,
 485,
 486,
 487,
 489,
 492,
 493,
 497,
 498,
 500,
 502,
 503,
 504,
 505,
 507,
 508,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 522,
 524,
 525,
 526,
 528,
 529,
 532,
 534,
 535,
 536,
 537,
 539,
 542,
 543,
 547,
 548,
 550,
 552,
 553,
 554,
 555,
 557,
 558,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 572,
 574,
 575,
 576,
 578,
 579,
 582,
 584,
 585,
 586,
 587,
 589,
 592,
 593,
 597,
 598,
 600,
 602,
 603,
 604,
 605,
 607,
 608,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 622,
 624,
 625,
 626,
 628,
 629,
 632,
 634,
 635,
 636,
 637,
 639,
 642,
 643,
 647,
 648,
 650,
 652,
 653,
 654,
 655,
 657,
 658,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 672,
 674,
 675,
 676,
 678,
 679,
 682,
 684,
 685,
 686,
 687,
 689,
 692,
 693,
 697,
 698,
 700,
 702,
 703,
 704,
 705,
 707,
 708,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 722,
 724,
 725,
 726,
 728,
 729,
 732,
 734,
 735,
 736,
 737,
 739,
 742,
 743,
 747,
 748,
 750,
 752,
 753,
 754,
 755,
 757,
 758,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 772,
 774,
 775,
 776,
 778,
 779,
 782,
 784,
 785,
 786,
 787,
 789,
 792,
 793,
 797,
 798,
 800,
 802,
 803,
 804,
 805,
 807,
 808,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 822,
 824,
 825,
 826,
 828,
 829,
 832,
 834,
 835,
 836,
 837,
 839,
 842,
 843,
 847,
 848,
 850,
 852,
 853,
 854,
 855,
 857,
 858,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 872,
 874,
 875,
 876,
 878,
 879,
 882,
 884,
 885,
 886,
 887,
 889,
 892,
 893,
 897,
 898,
 900,
 902,
 903,
 904,
 905,
 907,
 908,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 922,
 924,
 925,
 926,
 928,
 929,
 932,
 934,
 935,
 936,
 937,
 939,
 942,
 943,
 947,
 948,
 950,
 952,
 953,
 954,
 955,
 957,
 958,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 972,
 974,
 975,
 976,
 978,
 979,
 982,
 984,
 985,
 986,
 987,
 989,
 992,
 993,
 997,
 998,
 1000,
 1002,
 1003,
 1004,
 1005,
 1007,
 1008,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1022,
 1024,
 1025,
 1026,
 1028,
 1029,
 1032,
 1034,
 1035,
 1036,
 1037,
 1039,
 1042,
 1043,
 1047,
 1048,
 1050,
 1052,
 1053,
 1054,
 1055,
 1057,
 1058,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1072,
 1074,
 1075,
 1076,
 1078,
 1079,
 1082,
 1084,
 1085,
 1086,
 1087,
 1089,
 1092,
 1093,
 1097,
 1098,
 1100,
 1102,
 1103,
 1104,
 1105,
 1107,
 1108,
 1111,
 1112,
 1113,
 1114,
 1115,
 1116,
 1117,
 1118,
 1119,
 1122,
 1124,
 1125,
 1126,
 1128,
 1129,
 1132,
 1134,
 1135,
 1136,
 1137,
 1139,
 1142,
 1143,
 1147,
 1148,
 1150,
 1152,
 1153,
 1154,
 1155,
 1157,
 1158,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1172,
 1174,
 1175,
 1176,
 1178,
 1179,
 1182,
 1184,
 1185,
 1186,
 1187,
 1189,
 1192,
 1193,
 1197,
 1198,
 1200,
 1202,
 1203,
 1204,
 1205,
 1207,
 1208,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1222,
 1224,
 1225,
 1226,
 1228,
 1229,
 1232,
 1234,
 1235,
 1236,
 1237,
 1239,
 1242,
 1243,
 1247,
 1248,
 1250,
 1252,
 1253,
 1254,
 1255,
 1257,
 1258,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1267,
 1268,
 1269,
 1272,
 1274,
 1275,
 1276,
 1278,
 1279,
 1282,
 1284,
 1285,
 1286,
 1287,
 1289,
 1292,
 1293,
 1297,
 1298,
 1300,
 1302,
 1303,
 1304,
 1305,
 1307,
 1308,
 1311,
 1312,
 1313,
 1314,
 1315,
 1316,
 1317,
 1318,
 1319,
 1322,
 1324,
 1325,
 1326,
 1328,
 1329,
 1332,
 1334,
 1335,
 1336,
 1337,
 1339,
 1342,
 1343,
 1347,
 1348]

In [119]:
prediction_indices=[]
for i in range(Missing_model_Y.isnull().shape[0]):
    if Missing_model_Y.isnull()[i] == True:
        prediction_indices.append(i)

In [120]:
prediction_indices

[1,
 6,
 9,
 10,
 20,
 21,
 23,
 27,
 30,
 31,
 33,
 38,
 40,
 41,
 44,
 45,
 46,
 49,
 51,
 56,
 59,
 60,
 70,
 71,
 73,
 77,
 80,
 81,
 83,
 88,
 90,
 91,
 94,
 95,
 96,
 99,
 101,
 106,
 109,
 110,
 120,
 121,
 123,
 127,
 130,
 131,
 133,
 138,
 140,
 141,
 144,
 145,
 146,
 149,
 151,
 156,
 159,
 160,
 170,
 171,
 173,
 177,
 180,
 181,
 183,
 188,
 190,
 191,
 194,
 195,
 196,
 199,
 201,
 206,
 209,
 210,
 220,
 221,
 223,
 227,
 230,
 231,
 233,
 238,
 240,
 241,
 244,
 245,
 246,
 249,
 251,
 256,
 259,
 260,
 270,
 271,
 273,
 277,
 280,
 281,
 283,
 288,
 290,
 291,
 294,
 295,
 296,
 299,
 301,
 306,
 309,
 310,
 320,
 321,
 323,
 327,
 330,
 331,
 333,
 338,
 340,
 341,
 344,
 345,
 346,
 349,
 351,
 356,
 359,
 360,
 370,
 371,
 373,
 377,
 380,
 381,
 383,
 388,
 390,
 391,
 394,
 395,
 396,
 399,
 401,
 406,
 409,
 410,
 420,
 421,
 423,
 427,
 430,
 431,
 433,
 438,
 440,
 441,
 444,
 445,
 446,
 449,
 451,
 456,
 459,
 460,
 470,
 471,
 473,
 477,
 480,
 481,
 483,
 488,
 490,
 491,
 494,
 495,
 496,
 499,
 501,
 506,
 509,
 510,
 520,
 521,
 523,
 527,
 530,
 531,
 533,
 538,
 540,
 541,
 544,
 545,
 546,
 549,
 551,
 556,
 559,
 560,
 570,
 571,
 573,
 577,
 580,
 581,
 583,
 588,
 590,
 591,
 594,
 595,
 596,
 599,
 601,
 606,
 609,
 610,
 620,
 621,
 623,
 627,
 630,
 631,
 633,
 638,
 640,
 641,
 644,
 645,
 646,
 649,
 651,
 656,
 659,
 660,
 670,
 671,
 673,
 677,
 680,
 681,
 683,
 688,
 690,
 691,
 694,
 695,
 696,
 699,
 701,
 706,
 709,
 710,
 720,
 721,
 723,
 727,
 730,
 731,
 733,
 738,
 740,
 741,
 744,
 745,
 746,
 749,
 751,
 756,
 759,
 760,
 770,
 771,
 773,
 777,
 780,
 781,
 783,
 788,
 790,
 791,
 794,
 795,
 796,
 799,
 801,
 806,
 809,
 810,
 820,
 821,
 823,
 827,
 830,
 831,
 833,
 838,
 840,
 841,
 844,
 845,
 846,
 849,
 851,
 856,
 859,
 860,
 870,
 871,
 873,
 877,
 880,
 881,
 883,
 888,
 890,
 891,
 894,
 895,
 896,
 899,
 901,
 906,
 909,
 910,
 920,
 921,
 923,
 927,
 930,
 931,
 933,
 938,
 940,
 941,
 944,
 945,
 946,
 949,
 951,
 956,
 959,
 960,
 970,
 971,
 973,
 977,
 980,
 981,
 983,
 988,
 990,
 991,
 994,
 995,
 996,
 999,
 1001,
 1006,
 1009,
 1010,
 1020,
 1021,
 1023,
 1027,
 1030,
 1031,
 1033,
 1038,
 1040,
 1041,
 1044,
 1045,
 1046,
 1049,
 1051,
 1056,
 1059,
 1060,
 1070,
 1071,
 1073,
 1077,
 1080,
 1081,
 1083,
 1088,
 1090,
 1091,
 1094,
 1095,
 1096,
 1099,
 1101,
 1106,
 1109,
 1110,
 1120,
 1121,
 1123,
 1127,
 1130,
 1131,
 1133,
 1138,
 1140,
 1141,
 1144,
 1145,
 1146,
 1149,
 1151,
 1156,
 1159,
 1160,
 1170,
 1171,
 1173,
 1177,
 1180,
 1181,
 1183,
 1188,
 1190,
 1191,
 1194,
 1195,
 1196,
 1199,
 1201,
 1206,
 1209,
 1210,
 1220,
 1221,
 1223,
 1227,
 1230,
 1231,
 1233,
 1238,
 1240,
 1241,
 1244,
 1245,
 1246,
 1249,
 1251,
 1256,
 1259,
 1260,
 1270,
 1271,
 1273,
 1277,
 1280,
 1281,
 1283,
 1288,
 1290,
 1291,
 1294,
 1295,
 1296,
 1299,
 1301,
 1306,
 1309,
 1310,
 1320,
 1321,
 1323,
 1327,
 1330,
 1331,
 1333,
 1338,
 1340,
 1341,
 1344,
 1345,
 1346,
 1349]

In [121]:
dataset_to_train = final_df_missing_model.iloc[train_indices]
dataset_to_train

,Unnamed: 0,months_as_customer,policy_deductable,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,...,insured_relationship_wife,incident_type_Parked Car,incident_type_Single Vehicle Collision,incident_type_Vehicle Theft,collision_type_Rear Collision,collision_type_Side Collision,authorities_contacted_Fire,authorities_contacted_None,authorities_contacted_Other,authorities_contacted_Police
0,0,328,1000,0,53300,0,5,1,1,2,...,0,0,1,0,0,1,0,0,0,1
2,2,134,2000,5000000,35100,0,7,3,2,3,...,0,0,0,0,1,0,0,0,0,1
3,3,256,2000,6000000,48900,-62400,5,1,1,2,...,0,0,1,0,0,0,0,0,0,1
4,4,228,1000,6000000,66000,-46000,20,1,0,1,...,0,0,0,1,1,0,0,1,0,0
5,5,256,1000,0,0,0,19,3,0,2,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,1339,199,500,0,48500,0,4,1,0,3,...,1,0,1,0,0,0,0,0,0,0
1342,1342,37,500,0,0,-67400,17,3,1,0,...,0,0,0,0,0,1,0,0,1,0
1343,1343,106,500,0,49700,-60200,23,1,2,2,...,0,0,1,0,1,0,0,0,1,0
1347,1347,355,2000,4000000,0,0,19,3,2,1,...,0,0,0,0,0,0,1,0,0,0
1348,1348,175,1000,8000000,0,0,5,1,2,0,...,0,0,0,1,1,0,0,0,0,1

In [122]:
prediction_data = final_df_missing_model.iloc[prediction_indices]
prediction_data

,Unnamed: 0,months_as_customer,policy_deductable,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,...,insured_relationship_wife,incident_type_Parked Car,incident_type_Single Vehicle Collision,incident_type_Vehicle Theft,collision_type_Rear Collision,collision_type_Side Collision,authorities_contacted_Fire,authorities_contacted_None,authorities_contacted_Other,authorities_contacted_Police
1,1,228,2000,5000000,0,0,8,1,0,0,...,0,0,0,1,1,0,0,0,0,1
6,6,137,1000,0,0,-77000,0,3,0,0,...,0,0,0,0,0,0,0,0,0,1
9,9,212,500,0,0,-39300,14,1,2,1,...,1,0,1,0,1,0,0,0,1,0
10,10,235,500,4000000,38400,0,22,1,2,2,...,0,0,1,0,0,0,0,0,0,1
20,20,460,1000,4000000,0,0,20,3,1,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1341,1341,116,500,0,0,-24100,1,1,1,1,...,0,0,1,0,0,1,0,0,0,1
1344,1344,269,2000,0,36400,-28700,14,1,0,2,...,0,0,1,0,0,0,0,0,1,0
1345,1345,265,1000,0,0,0,17,3,2,3,...,0,0,0,0,1,0,0,0,1,0
1346,1346,163,500,0,35300,0,11,3,1,1,...,0,0,0,0,1,0,1,0,0,0
1349,1349,192,1000,0,0,-40300,19,1,0,0,...,1,0,1,0,1,0,0,0,1,0

In [123]:
Y_to_train = Missing_model_Y.iloc[train_indices]
Y_to_train

0       YES
2        NO
3        NO
4        NO
5        NO
       ...
1339     NO
1342     NO
1343     NO
1347     NO
1348    YES
Name: police_report_available, Length: 864, dtype: object

In [124]:
Y_to_predict = Missing_model_Y.iloc[prediction_indices]
Y_to_predict

1       NaN
6       NaN
9       NaN
10      NaN
20      NaN
       ...
1341    NaN
1344    NaN
1345    NaN
1346    NaN
1349    NaN
Name: police_report_available, Length: 486, dtype: object

In [125]:
dataset_to_train.columns

Index(['Unnamed: 0', 'months_as_customer', 'policy_deductable',
       'umbrella_limit', 'capital-gains', 'capital-loss',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
       'bodily_injuries', 'witnesses', 'injury_claim', 'property_claim',
       'vehicle_claim', 'policy_csl', 'insured_sex', 'insured_education_level',
       'incident_severity', 'property_damage', 'fraud_reported',
       'insured_occupation_armed-forces', 'insured_occupation_craft-repair',
       'insured_occupation_exec-managerial',
       'insured_occupation_farming-fishing',
       'insured_occupation_handlers-cleaners',
       'insured_occupation_machine-op-inspct',
       'insured_occupation_other-service',
       'insured_occupation_priv-house-serv',
       'insured_occupation_prof-specialty',
       'insured_occupation_protective-serv', 'insured_occupation_sales',
       'insured_occupation_tech-support',
       'insured_occupation_transport-moving',
       'insured_relationship_not-in-family',
       'insured_relationship_other-relative', 'insured_relationship_own-child',
       'insured_relationship_unmarried', 'insured_relationship_wife',
       'incident_type_Parked Car', 'incident_type_Single Vehicle Collision',
       'incident_type_Vehicle Theft', 'collision_type_Rear Collision',
       'collision_type_Side Collision', 'authorities_contacted_Fire',
       'authorities_contacted_None', 'authorities_contacted_Other',
       'authorities_contacted_Police'],
      dtype='object')

In [126]:
Y_to_predict

1       NaN
6       NaN
9       NaN
10      NaN
20      NaN
       ...
1341    NaN
1344    NaN
1345    NaN
1346    NaN
1349    NaN
Name: police_report_available, Length: 486, dtype: object

# Train a Binary classification model with best accuracy to predict all NaN's as Yes or No

In [127]:
from sklearn.model_selection import train_test_split

In [128]:
dataset_to_train.shape

(864, 46)

In [129]:
Y_to_train.shape

(864,)

In [130]:
X_train,X_test,y_train,y_test = train_test_split(dataset_to_train,Y_to_train,test_size=0.2,random_state=42)

### Testing decision tree

In [131]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

In [132]:
params = {'max_depth':list(range(2,10,2)),
          'min_samples_split':list(range(2,20,2)),
          'min_samples_leaf':list(range(1,10)),
#           'criterion':["gini", "entropy", "log_loss"],
#           'splitter':['best','random'],
# #           'max_features':["auto","sqrt","log2"],
#           'random_state':list(range(2,10,2)),
#           'ccp_alpha':list(range(2,10,2))

          
         }

In [133]:
from sklearn.model_selection import GridSearchCV
gcv = GridSearchCV(estimator=clf, param_grid = params)

In [134]:
gcv.fit(X_train, y_train)

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': [2, 4, 6, 8],
                         'min_samples_leaf': [1, 2, 3, 4, 5, 6, 7, 8, 9],
                         'min_samples_split': [2, 4, 6, 8, 10, 12, 14, 16, 18]})

In [135]:
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [136]:
gcv.best_params_

{'max_depth': 6, 'min_samples_leaf': 1, 'min_samples_split': 2}

In [137]:
from sklearn.metrics import accuracy_score

In [138]:
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

1.0

In [139]:
y_pred = gcv.predict(X_test)
accuracy_score(y_test, y_pred) # Accuracy better with tuning

#This is the best received accuracy after training all with best hyperparamters

1.0

In [140]:
import pickle

filename = "police_report_available.pickle"

# save model
pickle.dump(gcv, open(filename, "wb"))

# load model
loaded_model = pickle.load(open(filename, "rb"))

In [68]:
y_missing_predicted = gcv.predict(prediction_data)

In [69]:
y_missing_predicted

array(['YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO',
       'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES',
       'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO',
       'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES',
       'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES',
       'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO',
       'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO',
       'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES',
       'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO',
       'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES',
       'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES',
       'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO',
       'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO',
       'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES',
       'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO',
       'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES',
       'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES',
       'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO',
       'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO',
       'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES',
       'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO',
       'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES',
       'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES',
       'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO',
       'NO', 'NO', 'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO',
       'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES',
       'YES', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'NO', 'NO', 'NO', 'YES', 'YES', 'YES', 'NO',
       'YES', 'YES', 'NO', 'YES'], dtype=object)

In [70]:
prediction_indices

[1,
 6,
 9,
 10,
 20,
 21,
 23,
 27,
 30,
 31,
 33,
 38,
 40,
 41,
 44,
 45,
 46,
 49,
 51,
 56,
 59,
 60,
 70,
 71,
 73,
 77,
 80,
 81,
 83,
 88,
 90,
 91,
 94,
 95,
 96,
 99,
 101,
 106,
 109,
 110,
 120,
 121,
 123,
 127,
 130,
 131,
 133,
 138,
 140,
 141,
 144,
 145,
 146,
 149,
 151,
 156,
 159,
 160,
 170,
 171,
 173,
 177,
 180,
 181,
 183,
 188,
 190,
 191,
 194,
 195,
 196,
 199,
 201,
 206,
 209,
 210,
 220,
 221,
 223,
 227,
 230,
 231,
 233,
 238,
 240,
 241,
 244,
 245,
 246,
 249,
 251,
 256,
 259,
 260,
 270,
 271,
 273,
 277,
 280,
 281,
 283,
 288,
 290,
 291,
 294,
 295,
 296,
 299,
 301,
 306,
 309,
 310,
 320,
 321,
 323,
 327,
 330,
 331,
 333,
 338,
 340,
 341,
 344,
 345,
 346,
 349,
 351,
 356,
 359,
 360,
 370,
 371,
 373,
 377,
 380,
 381,
 383,
 388,
 390,
 391,
 394,
 395,
 396,
 399,
 401,
 406,
 409,
 410,
 420,
 421,
 423,
 427,
 430,
 431,
 433,
 438,
 440,
 441,
 444,
 445,
 446,
 449,
 451,
 456,
 459,
 460,
 470,
 471,
 473,
 477,
 480,
 481,
 483,
 488,
 490,
 491,
 494,
 495,
 496,
 499,
 501,
 506,
 509,
 510,
 520,
 521,
 523,
 527,
 530,
 531,
 533,
 538,
 540,
 541,
 544,
 545,
 546,
 549,
 551,
 556,
 559,
 560,
 570,
 571,
 573,
 577,
 580,
 581,
 583,
 588,
 590,
 591,
 594,
 595,
 596,
 599,
 601,
 606,
 609,
 610,
 620,
 621,
 623,
 627,
 630,
 631,
 633,
 638,
 640,
 641,
 644,
 645,
 646,
 649,
 651,
 656,
 659,
 660,
 670,
 671,
 673,
 677,
 680,
 681,
 683,
 688,
 690,
 691,
 694,
 695,
 696,
 699,
 701,
 706,
 709,
 710,
 720,
 721,
 723,
 727,
 730,
 731,
 733,
 738,
 740,
 741,
 744,
 745,
 746,
 749,
 751,
 756,
 759,
 760,
 770,
 771,
 773,
 777,
 780,
 781,
 783,
 788,
 790,
 791,
 794,
 795,
 796,
 799,
 801,
 806,
 809,
 810,
 820,
 821,
 823,
 827,
 830,
 831,
 833,
 838,
 840,
 841,
 844,
 845,
 846,
 849,
 851,
 856,
 859,
 860,
 870,
 871,
 873,
 877,
 880,
 881,
 883,
 888,
 890,
 891,
 894,
 895,
 896,
 899,
 901,
 906,
 909,
 910,
 920,
 921,
 923,
 927,
 930,
 931,
 933,
 938,
 940,
 941,
 944,
 945,
 946,
 949,
 951,
 956,
 959,
 960,
 970,
 971,
 973,
 977,
 980,
 981,
 983,
 988,
 990,
 991,
 994,
 995,
 996,
 999,
 1001,
 1006,
 1009,
 1010,
 1020,
 1021,
 1023,
 1027,
 1030,
 1031,
 1033,
 1038,
 1040,
 1041,
 1044,
 1045,
 1046,
 1049,
 1051,
 1056,
 1059,
 1060,
 1070,
 1071,
 1073,
 1077,
 1080,
 1081,
 1083,
 1088,
 1090,
 1091,
 1094,
 1095,
 1096,
 1099,
 1101,
 1106,
 1109,
 1110,
 1120,
 1121,
 1123,
 1127,
 1130,
 1131,
 1133,
 1138,
 1140,
 1141,
 1144,
 1145,
 1146,
 1149,
 1151,
 1156,
 1159,
 1160,
 1170,
 1171,
 1173,
 1177,
 1180,
 1181,
 1183,
 1188,
 1190,
 1191,
 1194,
 1195,
 1196,
 1199,
 1201,
 1206,
 1209,
 1210,
 1220,
 1221,
 1223,
 1227,
 1230,
 1231,
 1233,
 1238,
 1240,
 1241,
 1244,
 1245,
 1246,
 1249,
 1251,
 1256,
 1259,
 1260,
 1270,
 1271,
 1273,
 1277,
 1280,
 1281,
 1283,
 1288,
 1290,
 1291,
 1294,
 1295,
 1296,
 1299,
 1301,
 1306,
 1309,
 1310,
 1320,
 1321,
 1323,
 1327,
 1330,
 1331,
 1333,
 1338,
 1340,
 1341,
 1344,
 1345,
 1346,
 1349]

In [71]:
x=0
for i in Missing_model_Y:
    if i!='YES' and i!='NO':
        Missing_model_Y.replace(to_replace = i, value = y_missing_predicted[x],inplace=True)
        x+=1

In [72]:
Missing_model_Y

0       YES
1       YES
2        NO
3        NO
4        NO
       ...
1345    YES
1346    YES
1347     NO
1348    YES
1349    YES
Name: police_report_available, Length: 1350, dtype: object

In [73]:
Missing_model_Y.isnull().sum()

0

In [74]:
Missing_model_Y.to_csv(r"C:\Users\Anshdeep\OneDrive\Desktop\Ineuron\Full stack data science course\Python projects\fraudDetection\models_for_missing_values\Police_report_available_imputed.csv")

In [75]:
preprocessed_df = pd.concat([final_df_missing_model,Missing_model_Y],axis=1)
preprocessed_df

,Unnamed: 0,months_as_customer,policy_deductable,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,...,incident_type_Parked Car,incident_type_Single Vehicle Collision,incident_type_Vehicle Theft,collision_type_Rear Collision,collision_type_Side Collision,authorities_contacted_Fire,authorities_contacted_None,authorities_contacted_Other,authorities_contacted_Police,police_report_available
0,0,328,1000,0,53300,0,5,1,1,2,...,0,1,0,0,1,0,0,0,1,YES
1,1,228,2000,5000000,0,0,8,1,0,0,...,0,0,1,1,0,0,0,0,1,YES
2,2,134,2000,5000000,35100,0,7,3,2,3,...,0,0,0,1,0,0,0,0,1,NO
3,3,256,2000,6000000,48900,-62400,5,1,1,2,...,0,1,0,0,0,0,0,0,1,NO
4,4,228,1000,6000000,66000,-46000,20,1,0,1,...,0,0,1,1,0,0,1,0,0,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1345,265,1000,0,0,0,17,3,2,3,...,0,0,0,1,0,0,0,1,0,YES
1346,1346,163,500,0,35300,0,11,3,1,1,...,0,0,0,1,0,1,0,0,0,YES
1347,1347,355,2000,4000000,0,0,19,3,2,1,...,0,0,0,0,0,1,0,0,0,NO
1348,1348,175,1000,8000000,0,0,5,1,2,0,...,0,0,1,1,0,0,0,0,1,YES
1349,1349,192,1000,0,0,-40300,19,1,0,0,...,0,1,0,1,0,0,0,1,0,YES

In [76]:
preprocessed_df.columns

Index(['Unnamed: 0', 'months_as_customer', 'policy_deductable',
       'umbrella_limit', 'capital-gains', 'capital-loss',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
       'bodily_injuries', 'witnesses', 'injury_claim', 'property_claim',
       'vehicle_claim', 'policy_csl', 'insured_sex', 'insured_education_level',
       'incident_severity', 'property_damage', 'fraud_reported',
       'insured_occupation_armed-forces', 'insured_occupation_craft-repair',
       'insured_occupation_exec-managerial',
       'insured_occupation_farming-fishing',
       'insured_occupation_handlers-cleaners',
       'insured_occupation_machine-op-inspct',
       'insured_occupation_other-service',
       'insured_occupation_priv-house-serv',
       'insured_occupation_prof-specialty',
       'insured_occupation_protective-serv', 'insured_occupation_sales',
       'insured_occupation_tech-support',
       'insured_occupation_transport-moving',
       'insured_relationship_not-in-family',
       'insured_relationship_other-relative', 'insured_relationship_own-child',
       'insured_relationship_unmarried', 'insured_relationship_wife',
       'incident_type_Parked Car', 'incident_type_Single Vehicle Collision',
       'incident_type_Vehicle Theft', 'collision_type_Rear Collision',
       'collision_type_Side Collision', 'authorities_contacted_Fire',
       'authorities_contacted_None', 'authorities_contacted_Other',
       'authorities_contacted_Police', 'police_report_available'],
      dtype='object')

### RandomForest

In [77]:
from sklearn.ensemble import RandomForestClassifier

In [78]:
rf = RandomForestClassifier()

In [79]:
rf.fit(X_train,y_train)

RandomForestClassifier()

In [80]:
y_pred = rf.predict(X_test)
accuracy_score(y_test, y_pred)

1.0

# Both models giving very good accuracy of 100%, as of now we select decision tree